#navbar {
  @apply flex justify-between w-full h-[72px]  bg-white fixed  z-20  ;
  transition: background-color 200ms linear;
  transition: height 200ms linear ;
  transition-delay:400ms ;
}
#navClick{
  @apply flex justify-between lg:hidden w-full h-[0px] bg-blue-200   fixed z-10  ;
  transition: background-color 200ms linear;
  transition: height 200ms linear;
}
#sidebar{
  @apply lg:block transition-all duration-300 fixed z-10 left-0 min-h-screen  w-[0px] lg:w-[72px]  bg-white  ;
}
